<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All User</h2>
<br>
<div>
    <table border = "1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Update user</th>
            <th>Delete user</th>
        </tr>

        <tr th:each="user : ${usersList}">

            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td>
                <a th:href="@{/updateInfo?id={id}(id=${user.id})}" th:text ="Change"></a>
            </td>
            <td>
                <a th:href="@{/deleteUser?id={id}(id=${user.id})}" th:text ="Delate"></a>
            </td>

        </tr>
    </table>

    <br>

    <input type = "button" value="Add new user"
    onclick="window.location.href = 'addNewUser'">

</div>
</body>
</html>